.about-review {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.review-link {
  cursor: pointer;
  font-weight: var(--font-weight-secondary-light);
}



.review-title {
  grid-column: 1/-1;
}

.slider-review {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0px 20px;
  width: calc(100% - 40px);
  height: max-content;
  background-color: #f9fbff;
  border-radius: 10px;
}

.slider-review-button-group {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.leftBtn svg,
.rightBtn svg {
  pointer-events: none;
}

.slider-review-btn {
  height: 50px;
  width: 50px;
  background-color: var(--color-accent-dark-blue);
  border: none;
  cursor: pointer;
}

.btn-non-activ {
  background-color: gray;
  cursor: default;
}

.slider-review-wrapper {
  overflow: hidden;
  perspective: 1px;
  width: 100%;
  border-radius: 10px;
}

.slider-review-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  padding-bottom: 20px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.container-review-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 40px 30px 40px;
  box-sizing: border-box;
  background-color: var(--color-accent-light-blue);
  border-radius: 10px;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-autor {
  text-transform: uppercase;
  font-weight: var(--font-weight-secondary-bold);
}
