@import url("./image/image.css");
@import url("./description/description.css");
@import url("./description/product-consumption.css");
@import url("./tabs/tabs.css");
@import url("./description/updatePrice.css");

.product-container {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  column-gap: 10px;
}

.btn-back {
  margin: 20px 0;
  height: 40px;
  padding: 0px 30px;
  width: fit-content;
}
