.btn-download {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -75px;
  background-color: var(--color-accent-dark-blue);
  border: 10px solid var(--color-accent-white);
  color: var(--color-accent-white);
  cursor: pointer;
}

.block {
  display: block;
}

.btn-download:hover {
  border: 0px solid var(--color-accent-white);
  background: var(--color-accent-dark-blue-hover);
}



.btn-download:hover .btn-download-icon path {
  fill: var(--color-accent-yellow);
}