.nskSystem-section {
  padding: 0px 20px;
}

.nskSystem-title {
  font-family: var(--font-primary);
  font-size: 56px;
  margin-bottom: 20px;
}
.nskSystem-description {
  padding-bottom: 20px;
}

.nskSystem-section-title {
  padding-bottom: 20px;
}

.nskSystem-info-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.column-span2 {
  grid-column: span 2;
}

.nskSystem-info-item {
  background-color: var(--color-accent-light-blue);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nskSystem-info-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nskSystem-info-title {
  text-transform: uppercase;
}

.nskSystem-info-label {
  display: flex;
	justify-content: center;
	align-items: center;
}
