.change-color-section {
  padding: 20px;
}

.change-color-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
}

.change-color-item {
  padding: 20px 20px 0px 20px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px; /* Оставьте высоту как есть */
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: box-shadow 0.3s ease; /* Плавное изменение тени */
}

.change-color-item:hover {
  background-color: var(--color-accent-light-blue);
  border: 1px solid transparent;
  box-shadow: 0 0.5rem 3rem #0000001a;
}

.color-wrapper {
  margin-top: auto;
}

.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog-header-title {
  font-family: var(--font-primary);
  font-size: 36px;
  font-weight: var(--font-weight-secondary-normal);
  text-transform: uppercase;
}
/* 
.change-color-item:hover .catalog-header-title {
  color: var(--color-accent-white-hover);
} */

.color-list {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.color-item {
  padding: 10px 10px;
  border-radius: 5px 5px 0 0;
  height: 50px;
  color: var(--color-accent-white);
  transition: all 0.3s ease;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 12px;
  width: 70px;
  font-weight: 500;
}

.color-item.expanded {
  height: 150px;
}

.color-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.change-color-button {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  margin-top: auto; /* Добавлено для того, чтобы кнопка оставалась внизу */
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: transparent;
  color: var(--color-accent-black);
  /* text-decoration: underline; */

  display: flex;
}

.change-color-button::after {
  content: ""; /* Обязательно для отображения псевдоэлемента */
  display: inline-block;
  width: 20px; /* Ширина иконки */
  height: 17px; /* Высота иконки */
  background-image: url("/src/assets/icons/arrow-left.svg"); /* Путь к SVG */
  background-size: cover; /* Масштабирование SVG */
  margin-left: 10px; /* Отступ между иконкой и текстом */
}

.change-color-item:hover .change-color-button {
  opacity: 1;
  visibility: visible;
  margin-bottom: 10px;
}

.catalog-description {
  font-size: 14px;
  color: #555;
  text-wrap: balance;
  width: 80%;
}

/* .change-color-item:hover .catalog-description {
  color: var(--color-accent-white-hover);
}

.change-color-item:hover .color-item {
  color: var(--color-accent-white-hover);
  font-weight: 500;
} */
