.product-tabs {
  grid-column: 1/3;
  margin-top: 50px;
  min-height: 300px;
}

.tab {
  flex: 1;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  border: 0px solid transparent;
  background-color: transparent;
  color: var(--color-accent-light-dark);
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
}

.tabs {
  background-color: var(--color-accent-light-blue);
  display: flex;
  border-radius: 5px 5px 0px 0px;
}

.active-tab {
  display: block;
  background-color: var(--color-accent-yellow);
  color: var(--color-accent-light-dark);
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid transparent;
}

.tab-content {
  display: none;
  opacity: 0;
  padding: 20px;
}
.activeContent {
  display: block;
  background-color: var(--color-accent-light-blue);
  color: var(--color-accent-black);
  opacity: 1;
}

.tab-content-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-content-description {
  line-height: 1.5;
}
.tab-content-item-title {
  white-space: nowrap;
  color: var(--color-accent-light-dark);
  font-weight: 300;
}

.value {
  white-space: nowrap;
}
.divider {
  width: 100%;
  border-bottom: 1px dotted var(--color-border-filters);
  margin: 0px 10px;
}

.tab-content-item {
  display: flex;
  justify-content: space-between;
}

.tab-content-title {
  font-size: 16px;
  padding-bottom: 10px;
}

.tab-content-list-features {
  display: flex;
  flex-direction: column;
}

.tab-content-item-features {
  position: relative;
  padding-left: 10px;
}

.tab-content-item-features::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;

  background-color: var(--color-accent-dark-blue-hover); /* Красный кружочек */
  border-radius: 50%; /* Делаем круглым */
}

.tab-content-list-features-number {
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
}

.tab-content-item-features-number {
  list-style: decimal;
}

.padding-left {
  padding-left: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}
