.filters-container {
  padding: 30px 0 0 0px;
  position: sticky;
}

.searchFilter {
  height: 45px;
  width: 40%;
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding-left: 10px;
  color: var(--color-accent-light-dark);
  font-size: 12px;
  background: transparent;
}

.categoryFilter {
  height: 45px;
  border: none;
  border-bottom: 1px solid var(--color-border);
  background-color: transparent;
  margin: 0px 20px;
}

.resetFilters {
  height: 45px;
  border: none;
  color: var(--color-accent-light-blue);
  background-color: var(--color-accent-dark-blue);
  border-radius: 5px;
  padding: 0px 20px;
  cursor: pointer;
}
