.gallery {
  display: flex;
  grid-column: 1/3;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnail {
  width: 70px; /* Размер миниатюры */
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 1px solid var(--color-accent-light-dark);
  border-radius: 5px;
}

.thumbnail:hover {
  transform: scale(1.1); /* Эффект увеличения при наведении */
}

.fullsize-image {
  width: 100%; /* Размер большого изображения */
  height: auto;
  /* border: 1px solid var(--color-accent-light-dark); */
}

.fullsize-image-container {
  margin: 0 0 0 20px;
}
