.form-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin: 0 20px;
  background-image: url(/src/assets/images/opaciti_logo-left.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.form-section-title {
  grid-column: 1/-1;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/5;
  gap: 0.5rem;
  padding: 40px;
  border-radius: 5px;
  background-color: var(--color-accent-light-blue);
}

.form > *:last-child {
  margin-top: 3rem;
}

.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/-1;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--color-accent-light-dark);
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 1/3;
  font-size: 24px;
  font-weight: var(--font-weight-secondary-light);
  line-height: 1.5;
  text-transform: uppercase;
}

.text-yellow {
  color: var(--color-accent-yellow);
}

.form-group-name {
  grid-column: 1/2;
}

.form-group-text {
  grid-column: 1/3;
}

.form-label {
  display: block;
  font-weight: bold;
}

.checkbox-group .form-label {
  font-weight: normal;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding: 15px;
  background-color: #edf1f2;
  border: 1px solid transparent;
}

.form-input-message {
  resize: vertical;
  height: 200px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 1 / -1;
  gap: 10px;
}

.form-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.form-checkbox:checked {
  background-color: var(--color-accent-dark-blue-hover);
  border: 2px solid #ccc;
}

.form-checkbox:checked::before {
  content: "";
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.form-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/-1;
}

.button-form {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  justify-self: start;
}

.icon-form {
  color: var(--color-accent-light-dark);
}

.link-form:hover .icon-form {
  color: var(--color-accent-yellow);
}
