.certification-section {
  padding: 0 20px;
  background-image: url(/src/assets/images/opaciti_logo.png);
  background-position: 75% 20%;
  background-size: contain; /* Изображение растягивается, сохраняя пропорции */
  background-repeat: no-repeat; /* Запрещает повторение */
}

.certification-title {
  font-family: var(--font-primary);
  font-size: 56px;
}

.certification-desription {
  margin-bottom: 20px;
}

.certification-list {
  padding-left: 34px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: underline;
  margin: 40px 0px 80px 0px;
}

.certification-item {
  margin: 0.4em 0;
}

.certification-item:hover {
  opacity: 0.6;
  color: var(--color-accent-black);
}
