.product-consumption {
  background-color: var(--color-accent-light-blue);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coverage-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.package-weight {
  font-weight: 300;
  color: var(--font-color-secondary);
}

.package-weight-value {
  font-weight: var(--font-weight-secondary-light);
}
.consumption-warning {
  font-size: 8px;
  color: var(--color-border);
  text-wrap: balance;
}

.coverage-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
