.products {
  margin-top: 20px;
}

.flex-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  column-gap: 10px;
  will-change: grid-template-columns, grid-template-rows; /* Предупреждаем о будущем изменении */
}

.product-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: #edf1f2;
  position: relative;
  border-radius: 5px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  grid-column: 2/5; /* Список продуктов занимает колонки 2, 3 и 4 */
  column-gap: 10px; /* Отступ между колонками */
  will-change: grid-template-columns, grid-template-rows; /* Предупреждаем о будущем изменении */
}

.products-item {
  display: flex;
  flex-direction: column;
  height: auto;
  grid-column: auto; /* Автоматическое размещение в сетке */
}

.products-item:hover .product-item-img {
  background-color: var(--color-accent-light-blue);
}

.product-item-image {
  width: 100%;
  object-fit: cover;
}

.product-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Контент растягивается, но не ломает сетку */
}

.product-lines {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 20px;
  height: 100%;
  gap: 10px;
}

.product-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.product-description-title {
  font-size: 18px;
  font-weight: var(--font-weight-secondary-normal);
  color: var(--color-accent-dark-blue);
}

/* Плавное исчезновение */
.hidden {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

/* Плавное появление */
.product-fade-in {
  opacity: 0;
  animation: fadeIn 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
