@import "./filters/filters-container.css";

.ral-classic-section {
  padding: 0px 20px;
}

.ral-classic-title {
  font-family: var(--font-primary);
  font-size: 56px;
  margin-bottom: 20px;
}
.ral-classic-description {
  padding-bottom: 20px;
}

.ral-classic-section-title {
  padding-bottom: 10px;
}

.ral-color-group {
  background-color: var(--color-accent-light-blue);
  padding: 20px;
  border-radius: 5px;
}

.ral-color-uppercase {
  text-transform: uppercase;
  font-weight: var(--font-weight-secondary-normal);
  font-size: 18px;
}
