.tikkurilasymphony-section {
  padding: 0px 20px;
}

.tikkurilasymphony-title {
  font-family: var(--font-primary);
  font-size: 56px;
  margin-bottom: 20px;
}
.tikkurilasymphony-description {
  background-color: var(--color-accent-light-blue);
  padding: 20px;
  border-radius: 5px;
}

.tikkurilasymphony-section-title {
  padding-bottom: 10px;
}
